*{
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
*{box-sizing: border-box;} 
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{
  list-style: none;
}
a{color:inherit; text-decoration: none;}
input{font:inherit;}
body{
  font-style: 16px;
  line-height: 1.5;
}

/*layout*/

.page{
  display: flex;
  height: 100vh;
}

.page > aside{
  width: 300px;
}

.page > main{
  flex-grow: 1;
  padding: 20px;
  background: #C2D2E2;
}

/* aside */

.page > aside{
  display: flex;
  flex-direction: column;
}
.newSong{
  text-align: center;
  padding: 15px;
}
#songList-container{
  flex-grow: 1;
}
.songList{
  text-align: left;
  border-top: 3px solid #888;
}
.songList > li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.songList > li:hover{
  background-color: #C2D2E2;
}
.draggable{   /*可拖拽区*/
    padding: 80px 50px;
    border: 5px dashed #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
}
.clickable{
  height: 100%;
  width: 100%;
}

/* main */

.form{
  font-size: 16px;
}
.form > .row{
  display: flex;
   margin: 10px 0;
}
.form > .row > label{
  width: 4em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form > .row.actions{
  margin-left: 4em;
}
.form input[type=text]{
  padding: 3px 5px;
  outline:none;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.form input[type=text]:hover{
  border: 1px solid rgb(148, 148, 250);
}
.form input[type=submit],
.form input[type=button],
.form button{
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  background: #aaa;
  border: 1px solid #ddd;
}
.form button:hover{
  background: #999
}
main > .form{

}
